/*!
Template :	ICO Crypto @by Softnio
Preset   :	PKTH
Version	 :	1.2.4
Updated	 :	06.13.2018
*/


.theme-pkth { background: var(--bg); }
.theme-pkth .countdown-box { font-size: 16px; color: var(--white); background: var(--mid-blue); }
.theme-pkth .countdown-box h6 { color: var(--white) !important; text-transform: uppercase; font-size: 30px}
.theme-pkth .countdown-box .countdown-time { color: var(--white); }
.theme-pkth .countdown-box .countdown-text { color: rgba(255, 255, 255, 0.6); }
.theme-pkth .countdown-box .countdown-transparent { background: rgba(10, 8, 84, 0.8) !important; }
.theme-pkth .token-status-point::after { background: rgba(255, 255, 255, 0.5); }
.theme-pkth .token-status-percent { background: var(--dark-blue); }
.theme-pkth .loader-section { background: var(--bg); }
.theme-pkth .btn { background: var(--dark-blue); border-radius: 4px; }
.theme-pkth .btn:hover { background: var(--light-blue); }
.theme-pkth .btn:before { display: none; }
.theme-pkth .btn.btn-alt { background: var(--mid-blue); }
.theme-pkth .btn.btn-alt:hover { background: var(--light-blue); }
.theme-pkth .btn.btn-plane { background: var(--white); color: var(--dark-blue); }
.theme-pkth .btn.btn-plane:hover { color: var(--white); background: var(--light-blue); }
.theme-pkth .btn.btn-simple { background: none; color: var(--white); }
.theme-pkth .btn.btn-simple .fa { color: var(--mid-blue); }
.theme-pkth .btn.btn-white { background: var(--white); color: var(--dark-blue); }
.theme-pkth .btn.btn-white:hover { background: var(--mid-blue); color: var(--white); }
.theme-pkth .btn.btn-outline { background: transparent; border: 2px solid var(--mid-blue); }
.theme-pkth .btn.btn-outline:after { background: transparent; }
.theme-pkth .btn.btn-outline:hover { background: var(--light-blue); }
.theme-pkth .site-header.has-fixed .navbar { background: rgba(240, 240, 250, 0.99); box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15); }
.theme-pkth .site-header.has-fixed .navbar-nav > li > a { color: var(--bg-blue); }
.theme-pkth .site-header.has-fixed .navbar .btn.btn-outline { border-color: var(--bg-blue); color: var(--bg-blue); }
.theme-pkth .navbar-toggler { background: var(--mid-blue); }
.theme-pkth .section-bg-light .small-heading, .theme-pkth [class*=section-bg-light] .small-heading { color: rgba(21, 17, 177, 0.5); }
.theme-pkth .section-bg-muscari .text-block ul:not(.btns) li { color: var(--white); }
.theme-pkth .section-bg-muscari .text-block ul:not(.btns) li:before { background: var(--mid-blue); }
.theme-pkth .section-muscari { background: var(--dark-blue); }
.theme-pkth .text-block { color: var(--light-blue); }
.theme-pkth .text-block p:not(.lead) { color: var(--white); }
.theme-pkth .roadmap-carousel-withnav:before, .theme-pkth .roadmap-carousel-withnav:after { background: var(--light-blue); }
.theme-pkth .roadmap-carousel-container:before { background: var(--light-blue); }
.theme-pkth .roadmap-item h6:before { background: rgba(123, 17, 115, 0.3); }
.theme-pkth .roadmap-item h6:after { background: var(--mid-blue); }
.theme-pkth .roadmap-done h6:before { background: rgba(21, 17, 177, 0.3); }
.theme-pkth .roadmap-done h6:after { background: var(--dark-blue); }
.theme-pkth .team-member { background: rgba(123, 17, 115, 0.1); }
.theme-pkth .team-member .team-social li a { color: var(--dark-blue); }
.theme-pkth .team-member .team-social li a:hover { color: var(--mid-blue); }
.theme-pkth .team-member .team-title { color: var(--dark-blue); }
.theme-pkth .team-member .team-photo:before { background: rgba(21, 17, 177, 0.4); }
.theme-pkth .team-member .team-photo:after { background: var(--mid-blue); }
.theme-pkth .copyright-text { color: var(--white); }
.theme-pkth .copyright-text span { color: rgba(255, 255, 255, 0.6); }
.theme-pkth .copyright-text a { color: var(--white); }
.theme-pkth .copyright-text a:hover { color: var(--mid-blue); }
.theme-pkth .footer-subscription .input-round { color: var(--white); background: rgba(85, 79, 255, 0.5); border-color: transparent; }
.theme-pkth .social li a { color: var(--dark-blue); background: var(--white); }
.theme-pkth .social li a:hover { color: var(--white); background: var(--mid-blue); }
.theme-pkth .link-widget li a, .theme-pkth .footer-links li a { color: rgba(255, 255, 255, 0.6); }
.theme-pkth .link-widget li a:hover, .theme-pkth .footer-links li a:hover { color: var(--white); }
.theme-pkth .section-bg { background: var(--bg); }
.theme-pkth .section-bg-alt { background: var(--bg-blue); }
.theme-pkth .section-bg-dark { background: var(--bg-alt); }
.theme-pkth .section-bg-blend { background-image: linear-gradient(to bottom, var(--bg-alt) 0%, var(--bg) 50%); }
.theme-pkth .section-bg-atob { background-image: linear-gradient(to bottom, var(--bg) 0%, var(--bg-alt) 50%); }
.theme-pkth .section-bg-btoa { background-image: linear-gradient(to bottom, var(--bg-alt) 0%, var(--bg) 50%); }
.theme-pkth .bdr-top { border-top: 1px solid rgba(255, 255, 255, 0.1); }
.theme-pkth .img-pad { padding: 20px; }
.theme-pkth .milestone-bar { padding-bottom: 45px; }
.theme-pkth .milestone-bar h6 { font-size: 18px; }
.theme-pkth .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-dark { display: block; }
.theme-pkth .site-header.has-fixed .navbar.is-transparent .navbar-brand .logo-light { display: none; }
.theme-pkth .sub-heading { text-align: center; color: var(--white); padding-bottom: 40px }
.theme-pkth .event-info { margin-bottom: -30px; padding-right: 20px; }
.theme-pkth .event-info .event-single-info { margin-bottom: 30px; position: relative; padding-left: 16px; }
.theme-pkth .event-info .event-single-info:before { content: ""; background: #46bdf4; height: 5px; width: 5px; border-radius: 50%; position: absolute; top: 9px; left: 0; }
.theme-pkth .event-info h6 { margin-bottom: 2px; }
.theme-pkth .event-info p { color: var(--light-blue); font-size: 18px; }
.theme-pkth .event-info a { color: var(--light-blue-alt); }
.theme-pkth .send-button { color: var(--white) !important; background-color: var(--mid-blue); width: 100%; font-size: 20px; }

.theme-pkth svg{
    width: 100px;
    height: 100px;
    position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 10000;
}

.theme-pkth .bg-funded {
    color: var(--bg);
    background-color: var(--light-blue);
}

.theme-pkth .bg-unfunded {
    background-color: var(--bg);
}

#loader { display: block; position: relative; left: 50%; top: 50%; margin: -35px 0 0 -35px; transform: scale(1); }


/*! END */
